
:root {
    --primary-color: #F3F5FC;
    --secund-color: #052051;
    --tercer-color: #356EA9;
}


*{
    padding: 0;
    margin: 0;

}
body{
    background-color: var(--primary-color);
}

.menu_nav{
    display: flex;
    margin: 1.5rem;
    justify-content: flex-start;
}


.contenedor{
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 1.5rem;
    justify-content: space-around;

}

.contenedor_encriptador{
    text-align: justify;
    background-color: var(--primary-color);
    width: 390px;
    height: 75vh;
    border: none;

}

.contenedor_desencriptador{
    width: 390px;
    height: 75vh;
 border:  none ;
 border-radius: 1rem;
 background-image: url("img/Muñeco.png");
}

.contenedor_btn{
    margin-top: 0.5rem;
    display: flex;
    width: 360px;
    justify-content: space-evenly;
}

.contenedor_btn_encriptador{
 background-color: var(--secund-color) ;
 color:var(--primary-color) ;
 padding: 1rem 2.5rem;
 border-radius:  1rem ;
 border: 0;
 transition: 0.5s;

}
.contenedor_btn_desencriptador{
 background-color: var(--tercer-color) ;
 color:var(--primary-color) ;
 padding: 1rem 2.5rem;
 border-radius:  1rem ;
 border: 0;
transition: 0.5s;
}
.contenedor_btn_encriptador:hover{
background-color: var(--tercer-color);
}

.contenedor_btn_desencriptador:hover{
   background-color: var(--secund-color);
   }



   @media only screen and (min-width: 320px) and (max-width: 430px) {
 
    *{
        padding: 0;
        margin: 0;
    
    }
    body{
        background-color: var(--primary-color);
    }
    
    .menu_nav{
        display: flex;
        margin: 1.5rem;
        justify-content: flex-start;
    }
    
    
    .contenedor{
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
        padding: 1.5rem;
        justify-content: space-around;
        flex-direction: column;
    }
    
    
    .contenedor_encriptador{
        text-align: justify;
        background-color: var(--primary-color);
        width: 20rem;
        height: 40vh;
        border: none;
    
    }
    
    .contenedor_desencriptador{
    width: 20rem;
    height: 40vh;
    border:  none ;
    border-radius: 1rem;
    background-image: url("img/Muñeco.png");
    }
    
    .contenedor_btn{
        margin:  4rem 0;
        display: flex;
        width: 20rem;
        justify-content: space-evenly;
    }
    
    .contenedor_btn_encriptador{
     background-color: var(--secund-color) ;
     color:var(--primary-color) ;
     padding: 1rem 2.5rem;
     border-radius:  1rem ;
     border: 0;
     transition: 0.5s;
    
    }
    .contenedor_btn_desencriptador{
     background-color: var(--tercer-color) ;
     color:var(--primary-color) ;
     padding: 1rem 2.5rem;
     border-radius:  1rem ;
     border: 0;
    transition: 0.5s;
    }
    .contenedor_btn_encriptador:hover{
    background-color: var(--tercer-color);
    }
    
    .contenedor_btn_desencriptador:hover{
       background-color: var(--secund-color);
     
    }
}